/* Style naviation links */
html {
    min-width: 600px;
    height:100%;
}

/* This creates a reset rule so no padding or margin by default */
* {
    padding: 0;
    margin: 0;
}


nav {
    background-color: white;
    height: 50px;
    width: 100%;
}

nav div ul {
    height: 50px;
    width: 450px;
    /* margin 0 auto - creates 0 margin top and bottom and automatic fit left-right */
    /* This command centers the nav */
    margin: 0 auto;
  }

nav div ul li {
    list-style-type: none;
    width: 150px;
    float:left;
    text-align:center;
}

#colorflipper {
    color: hotpink;
    text-decoration: none;
    font-family: 'Akaya Kanadaka', cursive;
    line-height: 50px;
    font-size: 20px;
}

/* Style Naviation links on right */
.links {
color: black;
text-decoration: none;
font-family: 'Akaya Kanadaka', cursive;
line-height: 50px;
display:block;
}

.links:hover {
background-color: hotpink;
color:white;
}

/* styles main body section */
.main {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Styles body div backround for h2 */
#bodytextdiv {
    background-color: black;
    padding: 10px 20px;
    margin: 20px 20px;
    text-align: center;
    border-radius:10px;
    width: 200px;
    margin: auto;
    display: block;
}

/* Styles Background color: text */
h2 {
  font-size: 20px;
  font-style: normal;
  text-align: center;
  color: white;
  font-family: 'Akaya Kanadaka', cursive;
}

/* Styles button */
button {
    background-color: white;
    color: black;
    display: block;
    padding: 1_0px 20px;
    margin: auto;
    display: block;
    font-family: 'Akaya Kanadaka', cursive;
    margin-top: 25px;
}

button:hover {
    background-color: black;
    color: white;
}
